

.navbar-brand{
    font-weight: bolder;
}

.icon-large{
    font-size: 5em;
    text-align: center;
}

.icon-medium{
    font-size: 3em;
    text-align: center;
}


#map{
    width: 100%;
    height: 50vh;
}
#map2{
    width: 100%;
    height: 50vh;
}

.toggle{
    font-size: 1.5em;
}

.card{
    margin-bottom: 1em;
}

.table-wrap{
    overflow-x: scroll;
}

td{
    transition: background-color .3s;
    max-width: 100%;
}

td:hover{
    background-color: rgba(33, 33, 33, 0.096); 
}

tr:nth-child(even) {background: rgb(194, 194, 194)}
  

.button-card{
    text-align: right;
}

.obs-button{
    margin-bottom: .5em;
}

#videoElement {
	width: 100%;
	background-color: #666;
}
#videoElement2 {
	width: 100%;
	background-color: #666;
}

#outer-wrap {
    position: relative;
    z-index: 0;
    width: 100%;
}

#layer-1 {
    position: absolute;
    z-index: 1;
    background-color: #6F0;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0px;
}

#layer-2 {
    position: absolute;
    border: 2px solid #6F0;
    z-index: 2;
    height: 100%;
    width: 20px;
    top: 0px;
    left: calc(50% - 10px);
}

#layer-3 {
    position: absolute;
    z-index: 2;
    width: 100%;
    bottom: 10%;
    left: 0px;
}

#layer-4 {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 10%;
    left: 0px;
}

.dot-wrapper{
    text-align: center;
}

.dot {
    transition: background-color 0.3s;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: rgb(255, 0, 0);
    border-width: 10px;
    border-color: rgb(151, 151, 151);
    margin-left: auto;
    margin-right: auto;
  }

  .dot2 {
    transition: background-color 0.3s;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: rgb(0, 225, 255);
    border-width: 10px;
    border-color: rgb(151, 151, 151);
    margin-left: auto;
    margin-right: auto;
  }

.dot:hover{
    background-color: rgb(150, 0, 0);
}

.dot2:hover{
    background-color: rgb(0, 150, 255);
}

.navbar{
    z-index: 100;
}

.leaflet-top, .leaflet-bottom {
    position: absolute;
    z-index: 10;
    pointer-events: none;
}

.container-sm{
    margin-top: 3em;
}

#video2{
    width: 100%;
}

.narrow-form input{
    width: 3em;
}

.nav-item.dropdown{
    text-align: right;
}

.dropdown-item{
    text-align: right;
}

.animation-wrapper{
    width: 100%;
}

.animation{
    margin-left: calc((100% - 220px)/2)
}

.modal-footer h5{
    margin-right: auto !important;
}

.file-wrap{
    width: 100%;
    height: 100%;
}

.file-box{
    width: 32% ;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: .5em;
}

.file-box p{
    font-size: 1em;
}

.file-box i{
    font-size: 2em;
}

.file-box:hover{
    background-color: rgb(190, 190, 190);
}

.menu-dropdown .dropdown-item{
    text-align: left !important;
}

.file-box a{
    color: black;
}

.custom-div-icon {
    margin: 12px auto;
    font-size: 17px;
 }

 .side-by-side{
     display: inline-block;
     width: 50%;
 }

 #btnDeviceIdContainer .btn{
     margin-right: 1em;
 }